---
title: index
---

<section class="grid container">
  <h2 class="grid item">contanct</h2>
  <address class="grid item">
    {% for account in site.data.accounts %}
      {{ account.service }}: <a href="{{ account.url }}">{{ account.username }}</a>{% unless forloop.last %}<br>{% endunless %}
    {% endfor %}
  </address>
</section>
<section class="grid container">
  <h2 class="grid item">wishlists - amazon.co.jp</h2>
  <ul class="grid item">
    {% for list in site.data.wishlists %}
      <li><a href="{{ list.url }}">{{ list.name }}</a>
    {% endfor %}
  </ul>
</section>
<section class="grid container">
  <h2 class="grid item">posts</h2>
  <p class="grid item">
    <a href="https://gist.github.com/denvernine">denvernine’s gists</a>
  </p>
</section>
<section class="grid container">
  <h2 class="grid item">apps</h2>
  <ul class="grid item">
    {% for service in site.data.services %}
      {% if service.deleted_at %}
        <li><del datetime="{{ service.deleted_at }}"><a href="{{ service.url }}">{{ service.name }}</a> - {{ service.description }}</del> 公開停止
      {% else %}
        <li><a href="{{ service.url }}">{{ service.name }}</a> - {{ service.description }}
      {% endif %}
    {% endfor %}
  </ul>
</section>
