---
title: index
---

<section class="grid container">
  <h2 class="grid item">identifier</h2>
  <dl class="grid item">
    <dt>GPG/PGP Key fingerprint
    <dd><code>F9DB 538B 65CA DC84 114F &nbsp;A858 C126 3854 F7D8 22DD</code>
    <dt>GPG/PGP Public Key
    <dd><a href="https://github.com/denvernine.gpg">github</a>
    <dt>GPG Key IDs
    <dd><a href="https://api.github.com/users/denvernine/gpg_keys">github</a>
  </dl>
</section>
<section class="grid container">
  <h2 class="grid item">contanct</h2>
  <address class="grid item">
    <dl class="grid item">
      {% for account in site.data.accounts %}
        {% if account.service %}<dt>{{ account.service }}{% endif %}
        <dd><a href="{{ account.url }}">{{ account.username }}</a>
      {% endfor %}
    </dl>
  </address>
</section>
<section class="grid container">
  <h2 class="grid item">wishlists - amazon.co.jp</h2>
  <ul class="grid item">
    {% for list in site.data.wishlists %}
      <li><a rel="sponsored" href="{{ list.url }}">{{ list.name }}</a>
    {% endfor %}
  </ul>
</section>
<section class="grid container">
  <h2 class="grid item">posts</h2>
  <p class="grid item">
    <a href="https://gist.github.com/denvernine">denvernine’s gists</a>
  </p>
</section>
<section class="grid container">
  <h2 class="grid item">apps</h2>
  <ul class="grid item">
    {% for service in site.data.services %}
      {% if service.deleted_at %}
        <li><del datetime="{{ service.deleted_at }}"><a href="{{ service.url }}">{{ service.name }}</a> - {{ service.description }}</del> 公開停止
      {% else %}
        <li><a href="{{ service.url }}">{{ service.name }}</a> - {{ service.description }}
      {% endif %}
    {% endfor %}
  </ul>
</section>
