body {
  margin: 0 auto;
  width: calc(100vw - (8vw * 2));
  max-width: 80rem;
  writing-mode: horizontal-tb;
  font: 1rem/1.618 serif, sans-serif, monospace;
  letter-spacing: .12rem;
  word-spacing: .1618rem;
  overflow-wrap: break-word;
}
