/**
 * @link https://hankchizljaw.com/wrote/a-modern-css-reset/
 * @link https://github.com/jensimmons/cssremedy
 */
@media (prefers-reduced-motion: reduce) {
  @each $element in elements(all) {
    #{$element},
    #{$element}::before,
    #{$element}::after {
      animation-duration: 0.001s !important;
      transition-duration: 0.001s !important;
    }
  }
}

body,
p {
  margin: 0;
}

dl[class],
ol[class],
ul[class],
nav ul {
  margin: 0;
  list-style:none;
}
