/*
 * html5で使用できる要素、かつ自分が使用する要素に限る
 */
a,
abbr,
address,
article,
audio,
blockquote,
body,
br,
button,
caption,
cite,
code,
col,
colgroup,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
i,
iframe,
img,
ins,
kbd,
label,
li,
main,
mark,
nav,
ol,
p,
picture,
pre,
q,
ruby,
s,
samp,
script,
section,
select,
small,
span,
strong,
sub,
sup,
svg,
table,
time,
u,
ul,
var,
video,
wbr {
  margin: 0;
  padding: 0;
  outline: none;

  font-size: 100%;
  text-decoration: none;

  letter-spacing: 0;
  word-spacing: 0;
}
