---
---
@import 'colors/stripe';

$color-initial:    $white;
$color-primary:    $light-blue;
$color-secondary:  #606c76 !default;
$color-tertiary:   #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary:    #e1e1e1 !default;

/**
 * $ mkdir _sass/milligram \
 *   && curl -SsL -o _sass/milligram/_Base.sass       https://raw.githubusercontent.com/milligram/milligram/feature/v1.4.0/src/_Base.sass \
 *   && curl -SsL -o _sass/milligram/_Blockquote.sass https://raw.githubusercontent.com/milligram/milligram/feature/v1.4.0/src/_Blockquote.sass \
 *   && curl -SsL -o _sass/milligram/_Button.sass     https://raw.githubusercontent.com/milligram/milligram/feature/v1.4.0/src/_Button.sass \
 *   && curl -SsL -o _sass/milligram/_Code.sass       https://raw.githubusercontent.com/milligram/milligram/feature/v1.4.0/src/_Code.sass \
 *   && curl -SsL -o _sass/milligram/_Color.sass      https://raw.githubusercontent.com/milligram/milligram/feature/v1.4.0/src/_Color.sass \
 *   && curl -SsL -o _sass/milligram/_Divider.sass    https://raw.githubusercontent.com/milligram/milligram/feature/v1.4.0/src/_Divider.sass \
 *   && curl -SsL -o _sass/milligram/_Form.sass       https://raw.githubusercontent.com/milligram/milligram/feature/v1.4.0/src/_Form.sass \
 *   && curl -SsL -o _sass/milligram/_Grid.sass       https://raw.githubusercontent.com/milligram/milligram/feature/v1.4.0/src/_Grid.sass \
 *   && curl -SsL -o _sass/milligram/_Image.sass      https://raw.githubusercontent.com/milligram/milligram/feature/v1.4.0/src/_Image.sass \
 *   && curl -SsL -o _sass/milligram/_Link.sass       https://raw.githubusercontent.com/milligram/milligram/feature/v1.4.0/src/_Link.sass \
 *   && curl -SsL -o _sass/milligram/_List.sass       https://raw.githubusercontent.com/milligram/milligram/feature/v1.4.0/src/_List.sass \
 *   && curl -SsL -o _sass/milligram/_Spacing.sass    https://raw.githubusercontent.com/milligram/milligram/feature/v1.4.0/src/_Spacing.sass \
 *   && curl -SsL -o _sass/milligram/_Table.sass      https://raw.githubusercontent.com/milligram/milligram/feature/v1.4.0/src/_Table.sass \
 *   && curl -SsL -o _sass/milligram/_Typography.sass https://raw.githubusercontent.com/milligram/milligram/feature/v1.4.0/src/_Typography.sass \
 *   && curl -SsL -o _sass/milligram/_Utility.sass    https://raw.githubusercontent.com/milligram/milligram/feature/v1.4.0/src/_Utility.sass
 */
@import 'milligram/Color';
@import 'milligram/Base';
@import 'milligram/Blockquote';
@import 'milligram/Button';
@import 'milligram/Code';
@import 'milligram/Divider';
@import 'milligram/Form';
@import 'milligram/Grid';
@import 'milligram/Link';
@import 'milligram/List';
@import 'milligram/Spacing';
@import 'milligram/Table';
@import 'milligram/Typography';
@import 'milligram/Image';
@import 'milligram/Utility';
