/**
 * @link https://stripe.com/au/blog/accessible-color-systems
 */
$gray: hsla(218deg, 13%, 47%, .9);
$blue: hsla(232deg, 64%, 60%, .9);
$cyan: hsla(201deg, 94%, 37%, .9);
$green: hsla(162deg, 87%, 27%, .9);
$yellow: hsla(26deg, 94%, 38%, .9);
$orange: hsla(10deg, 57%, 49%, .9);
$red: hsla(344deg, 59%, 53%, .9);
$purple: hsla(289deg, 42%, 52%, .9);
$violet: hsla(261deg, 45%, 57%, .9);

$light-gray: hsla(215deg, 12%, 58%, .9);
$light-blue: hsla(223deg, 83%, 67%, .9);
$light-cyan: hsla(204deg, 64%, 53%, .9);
$light-green: hsla(158deg, 72%, 38%, .9);
$light-yellow: hsla(30deg, 79%, 47%, .9);
$light-orange: hsla(15deg, 75%, 59%, .9);
$light-red: hsla(351deg, 80%, 65%, .9);
$light-purple: hsla(296deg, 51%, 62%, .9);
$light-violet: hsla(258deg, 55%, 68%, .9);

$dark-blue: rgba(55, 71, 80, .9);
$black: rgba(12, 12, 12, .9);
$white: rgba(249, 247, 243, .9);
